// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Mon Sep 21 14:50:46 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab3/fpga/radiant/lab3_ga/source/impl_1/counter.sv"
// file 1 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab3/fpga/radiant/lab3_ga/source/impl_1/debouncer.sv"
// file 2 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab3/fpga/radiant/lab3_ga/source/impl_1/digit_reg.sv"
// file 3 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab3/fpga/radiant/lab3_ga/source/impl_1/display_mux.sv"
// file 4 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab3/fpga/radiant/lab3_ga/source/impl_1/key_control.sv"
// file 5 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab3/fpga/radiant/lab3_ga/source/impl_1/key_decoder.sv"
// file 6 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab3/fpga/radiant/lab3_ga/source/impl_1/lab3_ga.sv"
// file 7 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab3/fpga/radiant/lab3_ga/source/impl_1/scanner.sv"
// file 8 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab3/fpga/radiant/lab3_ga/source/impl_1/sevenseg_decoder.sv"
// file 9 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab3/fpga/radiant/lab3_ga/source/impl_1/synchronizer.sv"
// file 10 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.v"
// file 11 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.vhd"
// file 12 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 13 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 14 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 15 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 16 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 17 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 18 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 19 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 20 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 21 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 22 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 23 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 24 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 25 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 26 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 27 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 28 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 29 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 30 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 31 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 32 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 33 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 34 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 35 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 36 "c:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 37 "c:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 38 "c:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 39 "c:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 40 "c:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 41 "c:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 42 "c:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 43 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 44 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 45 "c:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 46 "c:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 47 "c:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 48 "c:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 49 "c:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 50 "c:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 51 "c:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 52 "c:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 53 "c:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 54 "c:/lscc/radiant/2026.1/ip/pmi/pmi_dsp.v"
// file 55 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 56 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 57 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 58 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 59 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 60 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 61 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 62 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 63 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 64 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 65 "c:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 66 "c:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 67 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 68 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 69 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 70 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 71 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 72 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 73 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 74 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 75 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 76 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 77 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 78 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 79 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 80 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 81 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 82 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 83 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 84 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 85 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module lab3_GA
//

module lab3_GA (input reset_b, input [3:0]cols, output [3:0]rows, output [6:0]seg, 
            output [1:0]anode_n);
    
    wire VCC_net;
    wire reset_b_c;
    wire [3:0]cols_c;
    wire [3:0]rows_c;
    wire [6:0]seg_c;
    wire anode_n_c_N_122;
    (* is_clock=1 *) wire clk;
    wire [3:0]cols_sync;
    wire [3:0]cols_stable;
    wire hold;
    wire updated;
    wire stable;
    wire one_key;
    wire any_key;
    wire key_valid;
    wire [3:0]key;
    wire [3:0]digit_left;
    wire [3:0]digit_right;
    wire [3:0]rows_raw;
    wire anode_n_c;
    wire [6:0]seg_ah;
    
    wire GND_net, stable_N_141, n1349, n6, n5, n2256;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(clk));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    FD1P3XZ rows_i3 (.D(rows_raw[3]), .SP(VCC_net), .CK(clk), .SR(stable_N_141), 
            .Q(rows_c[3]));
    defparam rows_i3.REGSET = "RESET";
    defparam rows_i3.SRMODE = "ASYNC";
    FD1P3XZ rows_i2 (.D(rows_raw[2]), .SP(VCC_net), .CK(clk), .SR(stable_N_141), 
            .Q(rows_c[2]));
    defparam rows_i2.REGSET = "RESET";
    defparam rows_i2.SRMODE = "ASYNC";
    FD1P3XZ rows_i1 (.D(rows_raw[1]), .SP(VCC_net), .CK(clk), .SR(stable_N_141), 
            .Q(rows_c[1]));
    defparam rows_i1.REGSET = "RESET";
    defparam rows_i1.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    (* lut_function="(!(A (B (C (D))+!B !((D)+!C))+!A !(B (C+!(D))+!B (C+(D)))))" *) LUT4 i2_4_lut (.A(key[2]), 
            .B(key[3]), .C(digit_right[2]), .D(digit_right[3]), .Z(n6));
    defparam i2_4_lut.INIT = "0x7bde";
    (* lut_function="(A (B (C+!(D))+!B (C+(D)))+!A !(B (C (D))+!B !((D)+!C)))" *) LUT4 i1_4_lut (.A(n1349), 
            .B(key[1]), .C(digit_right[0]), .D(digit_right[1]), .Z(n5));
    defparam i1_4_lut.INIT = "0xb7ed";
    (* lut_function="(A (B+(C+(D)))+!A (B (C+(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_12 (.A(cols_stable[2]), 
            .B(cols_stable[1]), .C(cols_stable[3]), .D(cols_stable[0]), 
            .Z(n2256));
    defparam i1_4_lut_adj_12.INIT = "0xfee8";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=17, LSE_RCOL=57, LSE_LLINE=62, LSE_RLINE=64 *) key_decoder u_key_decoder ({cols_stable}, 
            {rows_c}, n1349, key[2], any_key, key[1], key[3], one_key);
    IB reset_b_pad (.I(reset_b), .O(reset_b_c));
    IB \cols_pad[3]  (.I(cols[3]), .O(cols_c[3]));
    IB \cols_pad[2]  (.I(cols[2]), .O(cols_c[2]));
    IB \cols_pad[1]  (.I(cols[1]), .O(cols_c[1]));
    IB \cols_pad[0]  (.I(cols[0]), .O(cols_c[0]));
    OB \rows_pad[3]  (.I(rows_c[3]), .O(rows[3]));
    OB \rows_pad[2]  (.I(rows_c[2]), .O(rows[2]));
    OB \rows_pad[1]  (.I(rows_c[1]), .O(rows[1]));
    OB \rows_pad[0]  (.I(rows_c[0]), .O(rows[0]));
    OB \seg_pad[6]  (.I(seg_ah[6]), .O(seg[6]));
    OB \seg_pad[5]  (.I(seg_ah[5]), .O(seg[5]));
    OB \seg_pad[4]  (.I(seg_ah[4]), .O(seg[4]));
    OB \seg_pad[3]  (.I(seg_c[3]), .O(seg[3]));
    OB \seg_pad[2]  (.I(seg_ah[2]), .O(seg[2]));
    OB \seg_pad[1]  (.I(seg_ah[1]), .O(seg[1]));
    OB \seg_pad[0]  (.I(seg_ah[0]), .O(seg[0]));
    OB \anode_n_pad[1]  (.I(anode_n_c_N_122), .O(anode_n[1]));
    OB \anode_n_pad[0]  (.I(anode_n_c), .O(anode_n[0]));
    FD1P3XZ rows_i0 (.D(rows_raw[0]), .SP(VCC_net), .CK(clk), .SR(stable_N_141), 
            .Q(rows_c[0]));
    defparam rows_i0.REGSET = "SET";
    defparam rows_i0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=51, LSE_RCOL=71, LSE_LLINE=45, LSE_RLINE=46 *) scanner u_scanner ({rows_raw}, 
            stable_N_141, hold, clk);
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=15, LSE_RCOL=60, LSE_LLINE=76, LSE_RLINE=78 *) digit_reg u_digit_reg ({digit_right}, 
            key[3], key_valid, {digit_left}, clk, stable_N_141, n1349, 
            key[2], key[1]);
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=34, LSE_RCOL=160, LSE_LLINE=81, LSE_RLINE=81 *) display_mux u_display_mux ({digit_left}, 
            seg_ah[5], {digit_right}, anode_n_c, clk, stable_N_141, 
            seg_ah[0], anode_n_c_N_122, seg_ah[1], seg_ah[6], seg_c[3], 
            seg_ah[2], seg_ah[4], reset_b_c);
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=17, LSE_RCOL=31, LSE_LLINE=70, LSE_RLINE=73 *) key_control u_key_control (key_valid, 
            updated, n5, clk, stable_N_141, n6, one_key, any_key, 
            stable, n2256);
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=45, LSE_RCOL=61, LSE_LLINE=57, LSE_RLINE=59 *) debouncer u_debouncer ({cols_sync}, 
            stable, stable_N_141, clk, {cols_stable}, hold, updated);
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=31, LSE_RCOL=97, LSE_LLINE=37, LSE_RLINE=37 *) \synchronizer(WIDTH=4)  u_col_sync (clk, 
            {cols_sync}, stable_N_141, {cols_c});
    
endmodule

//
// Verilog Description of module key_decoder
//

module key_decoder (input [3:0]cols_stable, input [3:0]rows_c, output n1349, 
            output \key[2] , output any_key, output \key[1] , output \key[3] , 
            output one_key);
    
    
    wire n1220, n725, n726, n7, n2500, n1226, key_2__N_16, n1240, 
        n1348, n1234, n1345, n631;
    
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i2_3_lut_4_lut (.A(cols_stable[0]), 
            .B(cols_stable[1]), .C(cols_stable[3]), .D(cols_stable[2]), 
            .Z(n726));
    defparam i2_3_lut_4_lut.INIT = "0xfeff";
    (* lut_function="(A (B))" *) LUT4 i936_2_lut (.A(n725), .B(n7), .Z(n1220));
    defparam i936_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 any_key_I_3_2_lut_3_lut_4_lut (.A(cols_stable[0]), 
            .B(cols_stable[1]), .C(cols_stable[3]), .D(cols_stable[2]), 
            .Z(any_key));
    defparam any_key_I_3_2_lut_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B)+!A !((C)+!B))" *) LUT4 i2061_3_lut (.A(n726), 
            .B(n7), .C(n1240), .Z(n2500));
    defparam i2061_3_lut.INIT = "0x8c8c";
    (* lut_function="(A+(B+((D)+!C)))" *) LUT4 i2_3_lut_4_lut_adj_10 (.A(cols_stable[0]), 
            .B(cols_stable[1]), .C(cols_stable[3]), .D(cols_stable[2]), 
            .Z(n725));
    defparam i2_3_lut_4_lut_adj_10.INIT = "0xffef";
    (* lut_function="(A (B (C (D)))+!A (B (D)))" *) LUT4 i1061_4_lut (.A(n1240), 
            .B(n725), .C(n7), .D(n726), .Z(n1348));
    defparam i1061_4_lut.INIT = "0xc400";
    (* lut_function="(!(A ((C+!(D))+!B)+!A !(B (C+(D))+!B (C))))" *) LUT4 key_1__I_0_4_lut (.A(n1348), 
            .B(n2500), .C(n1234), .D(n725), .Z(\key[1] ));
    defparam key_1__I_0_4_lut.INIT = "0x5c50";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i2_3_lut_4_lut_adj_11 (.A(cols_stable[2]), 
            .B(cols_stable[3]), .C(cols_stable[0]), .D(cols_stable[1]), 
            .Z(n7));
    defparam i2_3_lut_4_lut_adj_11.INIT = "0xfeff";
    (* lut_function="(!(A (B (C)+!B (C+!(D)))+!A !(B (C)+!B (C+(D)))))" *) LUT4 key_0__I_0_4_lut (.A(n1220), 
            .B(n1234), .C(n1240), .D(n1226), .Z(n1349));
    defparam key_0__I_0_4_lut.INIT = "0x5b58";
    (* lut_function="(!(A (B (C)+!B (C+(D)))+!A !(B+(C+!(D)))))" *) LUT4 key_3__I_0_4_lut (.A(n1345), 
            .B(n631), .C(n1234), .D(n1226), .Z(\key[3] ));
    defparam key_3__I_0_4_lut.INIT = "0x5c5f";
    (* lut_function="(!(A (B (C (D))+!B ((D)+!C))+!A ((C)+!B)))" *) LUT4 key_2__I_0_4_lut (.A(n1345), 
            .B(key_2__N_16), .C(n1234), .D(n1240), .Z(\key[2] ));
    defparam key_2__I_0_4_lut.INIT = "0x0cac";
    (* lut_function="(A (B+(C)))" *) LUT4 i1074_3_lut (.A(n725), .B(n7), 
            .C(n726), .Z(n1345));
    defparam i1074_3_lut.INIT = "0xa8a8";
    (* lut_function="(A (B))" *) LUT4 i942_2_lut (.A(n725), .B(n726), .Z(n1226));
    defparam i942_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B+(C (D)+!C !(D))))" *) LUT4 i954_4_lut (.A(rows_c[0]), 
            .B(rows_c[2]), .C(rows_c[1]), .D(rows_c[3]), .Z(n1240));
    defparam i954_4_lut.INIT = "0xfeef";
    (* lut_function="(!(A (B+(C+(D)))+!A (B (C+(D))+!B (C (D)+!C !(D)))))" *) LUT4 any_key_I_0_2_lut_4_lut (.A(cols_stable[0]), 
            .B(cols_stable[1]), .C(cols_stable[3]), .D(cols_stable[2]), 
            .Z(one_key));
    defparam any_key_I_0_2_lut_4_lut.INIT = "0x0116";
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(C)))" *) LUT4 i1_2_lut_3_lut (.A(n725), 
            .B(n7), .C(n1240), .Z(n631));
    defparam i1_2_lut_3_lut.INIT = "0x7878";
    (* lut_function="((B (C+!(D))+!B !(C))+!A)" *) LUT4 i241_4_lut_4_lut (.A(n725), 
            .B(n7), .C(n726), .D(n1240), .Z(key_2__N_16));
    defparam i241_4_lut_4_lut.INIT = "0xd7df";
    (* lut_function="(A (B+(C+(D)))+!A ((C+(D))+!B))" *) LUT4 i950_4_lut_3_lut_4_lut (.A(rows_c[2]), 
            .B(rows_c[3]), .C(rows_c[0]), .D(rows_c[1]), .Z(n1234));
    defparam i950_4_lut_3_lut_4_lut.INIT = "0xfff9";
    
endmodule

//
// Verilog Description of module scanner
//

module scanner (output [3:0]rows_raw, input stable_N_141, input hold, 
            input clk);
    
    wire [24:0]count;
    (* is_clock=1 *) wire clk;
    
    wire n731, n1154, n1325;
    
    (* lut_function="(!(A (B)+!A (B+!(C (D)))))" *) LUT4 i1_4_lut (.A(count[24]), 
            .B(rows_raw[3]), .C(count[23]), .D(n1154), .Z(rows_raw[2]));
    defparam i1_4_lut.INIT = "0x3222";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut (.A(count[19]), .B(n731), 
            .C(count[18]), .Z(n1325));
    defparam i2_3_lut.INIT = "0xfefe";
    (* LSE_LINE_FILE_ID=41, LSE_LCOL=51, LSE_RCOL=124, LSE_LLINE=24, LSE_RLINE=24 *) \counter(WIDTH=25,MAX=23999999)  u_scan_ctr (hold, 
            stable_N_141, count[19], rows_raw[3], count[18], clk, 
            n1325, n1154, count[24], count[23], rows_raw[0], n731, 
            rows_raw[1]);
    
endmodule

//
// Verilog Description of module \counter(WIDTH=25,MAX=23999999) 
//

module \counter(WIDTH=25,MAX=23999999)  (input hold, input stable_N_141, 
            output \count[19] , output \rows_raw[3] , output \count[18] , 
            input clk, input n1325, output n1154, output \count[24] , 
            output \count[23] , output \rows_raw[0] , output n731, output \rows_raw[1] );
    
    wire [24:0]count;
    (* is_clock=1 *) wire clk;
    
    wire GND_net, VCC_net;
    wire [24:0]n80;
    
    wire n1860, n3126, n49, n3123, n3036;
    wire [24:0]n106;
    
    wire n1864, n1232, n2494, n1866, n2517, n3099, n25, n6, 
        n34, n1224, n4, n1862, n1850, n19, n10, n1395, n3105, 
        n2111, n4_adj_155, n1167, n20, n1852, n1848, n3102, n22, 
        n21, n1868, n2253, n3120, n1858, n3117, n2378, n2372, 
        n23, n3111, n24, n1846, n1856, n3114, n1854, n3132, 
        n3108, n3129, n2374, n2376, n2384, n1031, n2514, n2511, 
        n1359, n10_adj_156, n2523, n2537, n1391, n2520, n1397;
    
    (* lut_function="(A (B))" *) LUT4 i1031_2_lut (.A(n80[7]), .B(n49), 
            .Z(n106[7]));
    defparam i1031_2_lut.INIT = "0x8888";
    FA2 count_178_add_4_21 (.A0(GND_net), .B0(GND_net), .C0(\count[19] ), 
        .D0(n1864), .CI0(n1864), .A1(GND_net), .B1(GND_net), .C1(count[20]), 
        .D1(n3126), .CI1(n3126), .CO0(n3126), .CO1(n1866), .S0(n80[19]), 
        .S1(n80[20]));
    defparam count_178_add_4_21.INIT0 = "0xc33c";
    defparam count_178_add_4_21.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i1030_2_lut (.A(n80[8]), .B(n49), 
            .Z(n106[8]));
    defparam i1030_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1029_2_lut (.A(n80[9]), .B(n49), 
            .Z(n106[9]));
    defparam i1029_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1028_2_lut (.A(n80[10]), .B(n49), 
            .Z(n106[10]));
    defparam i1028_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1027_2_lut (.A(n80[11]), .B(n49), 
            .Z(n106[11]));
    defparam i1027_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1026_2_lut (.A(n80[12]), .B(n49), 
            .Z(n106[12]));
    defparam i1026_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1025_2_lut (.A(n80[13]), .B(n49), 
            .Z(n106[13]));
    defparam i1025_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1024_2_lut (.A(n80[14]), .B(n49), 
            .Z(n106[14]));
    defparam i1024_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1023_2_lut (.A(n80[15]), .B(n49), 
            .Z(n106[15]));
    defparam i1023_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1022_2_lut (.A(n80[16]), .B(n49), 
            .Z(n106[16]));
    defparam i1022_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1021_2_lut (.A(n80[17]), .B(n49), 
            .Z(n106[17]));
    defparam i1021_2_lut.INIT = "0x8888";
    FA2 count_178_add_4_19 (.A0(GND_net), .B0(GND_net), .C0(count[17]), 
        .D0(n1862), .CI0(n1862), .A1(GND_net), .B1(GND_net), .C1(\count[18] ), 
        .D1(n3123), .CI1(n3123), .CO0(n3123), .CO1(n1864), .S0(n80[17]), 
        .S1(n80[18]));
    defparam count_178_add_4_19.INIT0 = "0xc33c";
    defparam count_178_add_4_19.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i1020_2_lut (.A(n80[18]), .B(n49), 
            .Z(n106[18]));
    defparam i1020_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1019_2_lut (.A(n80[19]), .B(n49), 
            .Z(n106[19]));
    defparam i1019_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1018_2_lut (.A(n80[20]), .B(n49), 
            .Z(n106[20]));
    defparam i1018_2_lut.INIT = "0x8888";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i25 (.D(n106[24]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(\count[24] ));
    defparam count_178__i25.REGSET = "RESET";
    defparam count_178__i25.SRMODE = "ASYNC";
    (* lut_function="(A (B))" *) LUT4 i1017_2_lut (.A(n80[21]), .B(n49), 
            .Z(n106[21]));
    defparam i1017_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1016_2_lut (.A(n80[22]), .B(n49), 
            .Z(n106[22]));
    defparam i1016_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(count[17]), .B(count[16]), 
            .Z(n34));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1015_2_lut (.A(n80[23]), .B(n49), 
            .Z(n106[23]));
    defparam i1015_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i2_2_lut (.A(count[13]), .B(count[12]), 
            .Z(n6));
    defparam i2_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B))" *) LUT4 i1014_2_lut (.A(n80[24]), .B(n49), 
            .Z(n106[24]));
    defparam i1014_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (D))+!A (B (C (D))))" *) LUT4 i2_4_lut (.A(count[9]), 
            .B(count[10]), .C(n1232), .D(count[11]), .Z(n2111));
    defparam i2_4_lut.INIT = "0xc800";
    (* lut_function="(A (B)+!A (B (C+(D))))" *) LUT4 i1_4_lut (.A(n2111), 
            .B(count[15]), .C(n6), .D(count[14]), .Z(n4));
    defparam i1_4_lut.INIT = "0xccc8";
    (* lut_function="(A (B+(C (D))))" *) LUT4 i1_4_lut_adj_5 (.A(count[20]), 
            .B(\count[18] ), .C(n34), .D(n4), .Z(n4_adj_155));
    defparam i1_4_lut_adj_5.INIT = "0xa888";
    (* lut_function="(A (B (C+(D))+!B (C)))" *) LUT4 i992_4_lut (.A(count[22]), 
            .B(\count[19] ), .C(count[21]), .D(n4_adj_155), .Z(n1167));
    defparam i992_4_lut.INIT = "0xa8a0";
    (* lut_function="(!(A+(B+(C))))" *) LUT4 i2168_3_lut (.A(n1167), .B(\count[24] ), 
            .C(\count[23] ), .Z(\rows_raw[0] ));
    defparam i2168_3_lut.INIT = "0x0101";
    FA2 count_178_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(n20), .D0(n1850), 
        .CI0(n1850), .A1(GND_net), .B1(GND_net), .C1(n19), .D1(n3105), 
        .CI1(n3105), .CO0(n3105), .CO1(n1852), .S0(n80[5]), .S1(n80[6]));
    defparam count_178_add_4_7.INIT0 = "0xc33c";
    defparam count_178_add_4_7.INIT1 = "0xc33c";
    FA2 count_178_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n22), .D0(n1848), 
        .CI0(n1848), .A1(GND_net), .B1(GND_net), .C1(n21), .D1(n3102), 
        .CI1(n3102), .CO0(n3102), .CO1(n1850), .S0(n80[3]), .S1(n80[4]));
    defparam count_178_add_4_5.INIT0 = "0xc33c";
    defparam count_178_add_4_5.INIT1 = "0xc33c";
    FA2 count_178_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(count[15]), 
        .D0(n1860), .CI0(n1860), .A1(GND_net), .B1(GND_net), .C1(count[16]), 
        .D1(n3120), .CI1(n3120), .CO0(n3120), .CO1(n1862), .S0(n80[15]), 
        .S1(n80[16]));
    defparam count_178_add_4_17.INIT0 = "0xc33c";
    defparam count_178_add_4_17.INIT1 = "0xc33c";
    FA2 count_178_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(count[13]), 
        .D0(n1858), .CI0(n1858), .A1(GND_net), .B1(GND_net), .C1(count[14]), 
        .D1(n3117), .CI1(n3117), .CO0(n3117), .CO1(n1860), .S0(n80[13]), 
        .S1(n80[14]));
    defparam count_178_add_4_15.INIT0 = "0xc33c";
    defparam count_178_add_4_15.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i24 (.D(n106[23]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(\count[23] ));
    defparam count_178__i24.REGSET = "RESET";
    defparam count_178__i24.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i23 (.D(n106[22]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[22]));
    defparam count_178__i23.REGSET = "RESET";
    defparam count_178__i23.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i22 (.D(n106[21]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[21]));
    defparam count_178__i22.REGSET = "RESET";
    defparam count_178__i22.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i21 (.D(n106[20]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[20]));
    defparam count_178__i21.REGSET = "RESET";
    defparam count_178__i21.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i20 (.D(n106[19]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(\count[19] ));
    defparam count_178__i20.REGSET = "RESET";
    defparam count_178__i20.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i19 (.D(n106[18]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(\count[18] ));
    defparam count_178__i19.REGSET = "RESET";
    defparam count_178__i19.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i18 (.D(n106[17]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[17]));
    defparam count_178__i18.REGSET = "RESET";
    defparam count_178__i18.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i17 (.D(n106[16]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[16]));
    defparam count_178__i17.REGSET = "RESET";
    defparam count_178__i17.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i16 (.D(n106[15]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[15]));
    defparam count_178__i16.REGSET = "RESET";
    defparam count_178__i16.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i15 (.D(n106[14]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[14]));
    defparam count_178__i15.REGSET = "RESET";
    defparam count_178__i15.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i14 (.D(n106[13]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[13]));
    defparam count_178__i14.REGSET = "RESET";
    defparam count_178__i14.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i13 (.D(n106[12]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[12]));
    defparam count_178__i13.REGSET = "RESET";
    defparam count_178__i13.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i12 (.D(n106[11]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[11]));
    defparam count_178__i12.REGSET = "RESET";
    defparam count_178__i12.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i11 (.D(n106[10]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[10]));
    defparam count_178__i11.REGSET = "RESET";
    defparam count_178__i11.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i10 (.D(n106[9]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[9]));
    defparam count_178__i10.REGSET = "RESET";
    defparam count_178__i10.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i9 (.D(n106[8]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[8]));
    defparam count_178__i9.REGSET = "RESET";
    defparam count_178__i9.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i8 (.D(n106[7]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(count[7]));
    defparam count_178__i8.REGSET = "RESET";
    defparam count_178__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i7 (.D(n106[6]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(n19));
    defparam count_178__i7.REGSET = "RESET";
    defparam count_178__i7.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i6 (.D(n106[5]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(n20));
    defparam count_178__i6.REGSET = "RESET";
    defparam count_178__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i5 (.D(n106[4]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(n21));
    defparam count_178__i5.REGSET = "RESET";
    defparam count_178__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i4 (.D(n106[3]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(n22));
    defparam count_178__i4.REGSET = "RESET";
    defparam count_178__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i3 (.D(n106[2]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(n23));
    defparam count_178__i3.REGSET = "RESET";
    defparam count_178__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i2 (.D(n106[1]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(n24));
    defparam count_178__i2.REGSET = "RESET";
    defparam count_178__i2.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    FA2 count_178_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n24), .D0(n1846), 
        .CI0(n1846), .A1(GND_net), .B1(GND_net), .C1(n23), .D1(n3099), 
        .CI1(n3099), .CO0(n3099), .CO1(n1848), .S0(n80[1]), .S1(n80[2]));
    defparam count_178_add_4_3.INIT0 = "0xc33c";
    defparam count_178_add_4_3.INIT1 = "0xc33c";
    FA2 count_178_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(VCC_net), .C1(n25), .D1(n3036), .CI1(n3036), .CO0(n3036), 
        .CO1(n1846), .S1(n80[0]));
    defparam count_178_add_4_1.INIT0 = "0xc33c";
    defparam count_178_add_4_1.INIT1 = "0xc33c";
    FA2 count_178_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(count[11]), 
        .D0(n1856), .CI0(n1856), .A1(GND_net), .B1(GND_net), .C1(count[12]), 
        .D1(n3114), .CI1(n3114), .CO0(n3114), .CO1(n1858), .S0(n80[11]), 
        .S1(n80[12]));
    defparam count_178_add_4_13.INIT0 = "0xc33c";
    defparam count_178_add_4_13.INIT1 = "0xc33c";
    FA2 count_178_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(count[9]), 
        .D0(n1854), .CI0(n1854), .A1(GND_net), .B1(GND_net), .C1(count[10]), 
        .D1(n3111), .CI1(n3111), .CO0(n3111), .CO1(n1856), .S0(n80[9]), 
        .S1(n80[10]));
    defparam count_178_add_4_11.INIT0 = "0xc33c";
    defparam count_178_add_4_11.INIT1 = "0xc33c";
    FA2 count_178_add_4_25 (.A0(GND_net), .B0(GND_net), .C0(\count[23] ), 
        .D0(n1868), .CI0(n1868), .A1(GND_net), .B1(GND_net), .C1(\count[24] ), 
        .D1(n3132), .CI1(n3132), .CO0(n3132), .S0(n80[23]), .S1(n80[24]));
    defparam count_178_add_4_25.INIT0 = "0xc33c";
    defparam count_178_add_4_25.INIT1 = "0xc33c";
    FA2 count_178_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(count[7]), 
        .D0(n1852), .CI0(n1852), .A1(GND_net), .B1(GND_net), .C1(count[8]), 
        .D1(n3108), .CI1(n3108), .CO0(n3108), .CO1(n1854), .S0(n80[7]), 
        .S1(n80[8]));
    defparam count_178_add_4_9.INIT0 = "0xc33c";
    defparam count_178_add_4_9.INIT1 = "0xc33c";
    FA2 count_178_add_4_23 (.A0(GND_net), .B0(GND_net), .C0(count[21]), 
        .D0(n1866), .CI0(n1866), .A1(GND_net), .B1(GND_net), .C1(count[22]), 
        .D1(n3129), .CI1(n3129), .CO0(n3129), .CO1(n1868), .S0(n80[21]), 
        .S1(n80[22]));
    defparam count_178_add_4_23.INIT0 = "0xc33c";
    defparam count_178_add_4_23.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i948_2_lut (.A(count[8]), .B(count[7]), 
            .Z(n1232));
    defparam i948_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i1919_4_lut (.A(n24), .B(count[21]), 
            .C(\count[18] ), .D(\count[19] ), .Z(n2378));
    defparam i1919_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 i1915_4_lut (.A(count[17]), 
            .B(n20), .C(count[13]), .D(n21), .Z(n2374));
    defparam i1915_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 i1917_4_lut (.A(n22), .B(count[10]), 
            .C(n19), .D(count[12]), .Z(n2376));
    defparam i1917_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C)))" *) LUT4 i1913_3_lut (.A(n23), .B(count[22]), 
            .C(n25), .Z(n2372));
    defparam i1913_3_lut.INIT = "0x8080";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i4_4_lut (.A(count[9]), .B(count[11]), 
            .C(\count[23] ), .D(count[20]), .Z(n10));
    defparam i4_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B (C (D))))" *) LUT4 i1925_4_lut (.A(n2372), .B(n2376), 
            .C(n2374), .D(n2378), .Z(n2384));
    defparam i1925_4_lut.INIT = "0x8000";
    (* lut_function="(A+((C+!(D))+!B))" *) LUT4 i1_4_lut_adj_6 (.A(n2253), 
            .B(n2384), .C(n1031), .D(\count[24] ), .Z(n49));
    defparam i1_4_lut_adj_6.INIT = "0xfbff";
    (* lut_function="(A (B))" *) LUT4 i958_2_lut (.A(n80[0]), .B(n49), .Z(n106[0]));
    defparam i958_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+(B (C (D))+!B (C+!(D)))))" *) LUT4 i1_4_lut_adj_7 (.A(\count[24] ), 
            .B(n1167), .C(n1154), .D(\count[23] ), .Z(\rows_raw[1] ));
    defparam i1_4_lut_adj_7.INIT = "0x0544";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_8 (.A(count[15]), .B(count[14]), 
            .Z(n1031));
    defparam i1_2_lut_adj_8.INIT = "0xeeee";
    (* lut_function="(A (B+(C))+!A (B))" *) LUT4 i2043_3_lut (.A(count[8]), 
            .B(count[10]), .C(count[9]), .Z(n2517));
    defparam i2043_3_lut.INIT = "0xecec";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i2067_4_lut (.A(n2517), 
            .B(count[13]), .C(count[12]), .D(count[11]), .Z(n2514));
    defparam i2067_4_lut.INIT = "0xeccc";
    (* lut_function="(A (B))" *) LUT4 i940_2_lut (.A(count[21]), .B(count[20]), 
            .Z(n1224));
    defparam i940_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C))+!A (B (C (D))))" *) LUT4 i2046_4_lut (.A(n2514), 
            .B(n34), .C(\count[18] ), .D(n1031), .Z(n2511));
    defparam i2046_4_lut.INIT = "0xc080";
    (* lut_function="(A+(B (C)+!B (C (D))))" *) LUT4 i941_4_lut (.A(count[22]), 
            .B(n2511), .C(n1224), .D(\count[19] ), .Z(n1154));
    defparam i941_4_lut.INIT = "0xfaea";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut (.A(count[21]), .B(count[22]), 
            .C(\count[23] ), .Z(n731));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i4_4_lut_adj_9 (.A(count[14]), 
            .B(count[7]), .C(count[9]), .D(n1359), .Z(n10_adj_156));
    defparam i4_4_lut_adj_9.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2042_3_lut (.A(count[8]), .B(n10_adj_156), 
            .C(count[10]), .Z(n2523));
    defparam i2042_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B+((D)+!C))+!A (B (C)+!B (C (D))))" *) LUT4 i2045_4_lut (.A(n1359), 
            .B(n2523), .C(count[15]), .D(count[12]), .Z(n2537));
    defparam i2045_4_lut.INIT = "0xfaca";
    (* lut_function="(A (B))" *) LUT4 i2062_2_lut (.A(count[14]), .B(count[15]), 
            .Z(n2494));
    defparam i2062_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+!(C))+!A (B (C+(D))+!B !(C+!(D))))" *) LUT4 i59_4_lut (.A(n2494), 
            .B(n2537), .C(count[13]), .D(n1359), .Z(n1391));
    defparam i59_4_lut.INIT = "0xcfca";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i2060_4_lut (.A(count[12]), 
            .B(count[15]), .C(count[14]), .D(count[13]), .Z(n2520));
    defparam i2060_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1070_2_lut_4_lut (.A(\count[19] ), 
            .B(n731), .C(\count[18] ), .D(count[16]), .Z(n1359));
    defparam i1070_2_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+!(C))+!A (B (C+(D))+!B !(C+!(D))))" *) LUT4 i61_4_lut (.A(n2520), 
            .B(n1391), .C(count[11]), .D(n1359), .Z(n1395));
    defparam i61_4_lut.INIT = "0xcfca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i62_3_lut (.A(n1325), 
            .B(n1395), .C(count[17]), .Z(n1397));
    defparam i62_3_lut.INIT = "0xcaca";
    (* lut_function="(A+(B+!(C (D))))" *) LUT4 i5_3_lut_4_lut (.A(count[16]), 
            .B(n10), .C(count[8]), .D(count[7]), .Z(n2253));
    defparam i5_3_lut_4_lut.INIT = "0xefff";
    (* lut_function="(A (B (C+!(D))+!B (C (D))))" *) LUT4 i1104_4_lut (.A(\count[24] ), 
            .B(n731), .C(n1397), .D(count[20]), .Z(\rows_raw[3] ));
    defparam i1104_4_lut.INIT = "0xa088";
    (* lut_function="(A (B))" *) LUT4 i1037_2_lut (.A(n80[1]), .B(n49), 
            .Z(n106[1]));
    defparam i1037_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1036_2_lut (.A(n80[2]), .B(n49), 
            .Z(n106[2]));
    defparam i1036_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1035_2_lut (.A(n80[3]), .B(n49), 
            .Z(n106[3]));
    defparam i1035_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1034_2_lut (.A(n80[4]), .B(n49), 
            .Z(n106[4]));
    defparam i1034_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1033_2_lut (.A(n80[5]), .B(n49), 
            .Z(n106[5]));
    defparam i1033_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1032_2_lut (.A(n80[6]), .B(n49), 
            .Z(n106[6]));
    defparam i1032_2_lut.INIT = "0x8888";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1 *) FD1P3XZ count_178__i1 (.D(n106[0]), .SP(hold), 
            .CK(clk), .SR(stable_N_141), .Q(n25));
    defparam count_178__i1.REGSET = "RESET";
    defparam count_178__i1.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module digit_reg
//

module digit_reg (output [3:0]digit_right, input \key[3] , input key_valid, 
            output [3:0]digit_left, input clk, input stable_N_141, input n1349, 
            input \key[2] , input \key[1] );
    
    (* is_clock=1 *) wire clk;
    
    wire n769, n771, n772, n770, VCC_net;
    
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=15, LSE_RCOL=60, LSE_LLINE=76, LSE_RLINE=78 *) FD1P3XZ digit_right_i0_i1 (.D(n772), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(digit_right[1]));
    defparam digit_right_i0_i1.REGSET = "RESET";
    defparam digit_right_i0_i1.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=15, LSE_RCOL=60, LSE_LLINE=76, LSE_RLINE=78 *) FD1P3XZ digit_right_i0_i2 (.D(n771), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(digit_right[2]));
    defparam digit_right_i0_i2.REGSET = "RESET";
    defparam digit_right_i0_i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=15, LSE_RCOL=60, LSE_LLINE=76, LSE_RLINE=78 *) FD1P3XZ digit_right_i0_i3 (.D(n770), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(digit_right[3]));
    defparam digit_right_i0_i3.REGSET = "RESET";
    defparam digit_right_i0_i3.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=15, LSE_RCOL=60, LSE_LLINE=76, LSE_RLINE=78 *) FD1P3XZ digit_right_i0_i0 (.D(n769), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(digit_right[0]));
    defparam digit_right_i0_i0.REGSET = "RESET";
    defparam digit_right_i0_i0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=15, LSE_RCOL=60, LSE_LLINE=76, LSE_RLINE=78 *) FD1P3XZ digit_left_i0_i3 (.D(digit_right[3]), 
            .SP(key_valid), .CK(clk), .SR(stable_N_141), .Q(digit_left[3]));
    defparam digit_left_i0_i3.REGSET = "RESET";
    defparam digit_left_i0_i3.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=15, LSE_RCOL=60, LSE_LLINE=76, LSE_RLINE=78 *) FD1P3XZ digit_left_i0_i2 (.D(digit_right[2]), 
            .SP(key_valid), .CK(clk), .SR(stable_N_141), .Q(digit_left[2]));
    defparam digit_left_i0_i2.REGSET = "RESET";
    defparam digit_left_i0_i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=15, LSE_RCOL=60, LSE_LLINE=76, LSE_RLINE=78 *) FD1P3XZ digit_left_i0_i1 (.D(digit_right[1]), 
            .SP(key_valid), .CK(clk), .SR(stable_N_141), .Q(digit_left[1]));
    defparam digit_left_i0_i1.REGSET = "RESET";
    defparam digit_left_i0_i1.SRMODE = "ASYNC";
    VHI i1 (.Z(VCC_net));
    (* lut_function="(!(A (B (C))+!A (B+!(C))))" *) LUT4 i481_3_lut (.A(digit_right[0]), 
            .B(n1349), .C(key_valid), .Z(n769));
    defparam i481_3_lut.INIT = "0x3a3a";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i482_3_lut (.A(digit_right[3]), 
            .B(\key[3] ), .C(key_valid), .Z(n770));
    defparam i482_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i483_3_lut (.A(digit_right[2]), 
            .B(\key[2] ), .C(key_valid), .Z(n771));
    defparam i483_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i484_3_lut (.A(digit_right[1]), 
            .B(\key[1] ), .C(key_valid), .Z(n772));
    defparam i484_3_lut.INIT = "0xcaca";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=15, LSE_RCOL=60, LSE_LLINE=76, LSE_RLINE=78 *) FD1P3XZ digit_left_i0_i0 (.D(digit_right[0]), 
            .SP(key_valid), .CK(clk), .SR(stable_N_141), .Q(digit_left[0]));
    defparam digit_left_i0_i0.REGSET = "RESET";
    defparam digit_left_i0_i0.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module display_mux
//

module display_mux (input [3:0]digit_left, output \seg_ah[5] , input [3:0]digit_right, 
            output anode_n_c, input clk, output stable_N_141, output \seg_ah[0] , 
            output anode_n_c_N_122, output \seg_ah[1] , output \seg_ah[6] , 
            output seg_ah_3__N_128, output \seg_ah[2] , output \seg_ah[4] , 
            input reset_b_c);
    
    wire [3:0]digit_shown;
    (* is_clock=1 *) wire clk;
    
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 digit_right_0__I_0_3_lut (.A(digit_right[0]), 
            .B(digit_left[0]), .C(anode_n_c), .Z(digit_shown[0]));
    defparam digit_right_0__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 digit_right_2__I_0_3_lut (.A(digit_right[2]), 
            .B(digit_left[2]), .C(anode_n_c), .Z(digit_shown[2]));
    defparam digit_right_2__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 digit_right_3__I_0_3_lut (.A(digit_right[3]), 
            .B(digit_left[3]), .C(anode_n_c), .Z(digit_shown[3]));
    defparam digit_right_3__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 digit_right_1__I_0_3_lut (.A(digit_right[1]), 
            .B(digit_left[1]), .C(anode_n_c), .Z(digit_shown[1]));
    defparam digit_right_1__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A))" *) LUT4 anode_n_c_I_0_1_lut (.A(anode_n_c), .Z(anode_n_c_N_122));
    defparam anode_n_c_I_0_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=36, LSE_LCOL=22, LSE_RCOL=61, LSE_LLINE=32, LSE_RLINE=32 *) sevenseg_decoder u_sevenseg ({digit_shown}, 
            \seg_ah[1] , \seg_ah[6] , seg_ah_3__N_128, \seg_ah[5] , 
            \seg_ah[0] , \seg_ah[2] , \seg_ah[4] );
    (* LSE_LINE_FILE_ID=36, LSE_LCOL=50, LSE_RCOL=72, LSE_LLINE=25, LSE_RLINE=26 *) \counter(WIDTH=17,MAX=131071)  u_mux_counter (clk, 
            anode_n_c, stable_N_141, reset_b_c);
    
endmodule

//
// Verilog Description of module sevenseg_decoder
//

module sevenseg_decoder (input [3:0]digit_shown, output \seg_ah[1] , output \seg_ah[6] , 
            output seg_ah_3__N_128, output \seg_ah[5] , output \seg_ah[0] , 
            output \seg_ah[2] , output \seg_ah[4] );
    
    
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 seg_ah_5__I_0_2_4_lut (.A(digit_shown[1]), 
            .B(digit_shown[3]), .C(digit_shown[2]), .D(digit_shown[0]), 
            .Z(\seg_ah[5] ));
    defparam seg_ah_5__I_0_2_4_lut.INIT = "0x6302";
    (* lut_function="(!(A (B+!(C (D)))+!A (B ((D)+!C)+!B (C))))" *) LUT4 seg_ah_6__I_0_2_4_lut (.A(digit_shown[1]), 
            .B(digit_shown[3]), .C(digit_shown[2]), .D(digit_shown[0]), 
            .Z(\seg_ah[6] ));
    defparam seg_ah_6__I_0_2_4_lut.INIT = "0x2141";
    (* lut_function="(!(A (B (C+!(D))+!B (C+(D)))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 digit_shown_3__I_0_4_lut (.A(digit_shown[2]), 
            .B(digit_shown[3]), .C(digit_shown[1]), .D(digit_shown[0]), 
            .Z(\seg_ah[0] ));
    defparam digit_shown_3__I_0_4_lut.INIT = "0x4902";
    (* lut_function="(A (B (C+!(D))+!B (C (D)))+!A !((C (D)+!C !(D))+!B))" *) LUT4 seg_ah_1__I_0_2_4_lut (.A(digit_shown[1]), 
            .B(digit_shown[2]), .C(digit_shown[3]), .D(digit_shown[0]), 
            .Z(\seg_ah[1] ));
    defparam seg_ah_1__I_0_2_4_lut.INIT = "0xa4c8";
    (* lut_function="(A (B (C)+!B !(C+(D)))+!A !(((D)+!C)+!B))" *) LUT4 seg_ah_2__I_0_2_4_lut (.A(digit_shown[1]), 
            .B(digit_shown[3]), .C(digit_shown[2]), .D(digit_shown[0]), 
            .Z(\seg_ah[2] ));
    defparam seg_ah_2__I_0_2_4_lut.INIT = "0x80c2";
    (* lut_function="(A (B (C (D)+!C !(D)))+!A (B (C (D))+!B !(C (D)+!C !(D))))" *) LUT4 i33_4_lut (.A(digit_shown[3]), 
            .B(digit_shown[1]), .C(digit_shown[2]), .D(digit_shown[0]), 
            .Z(seg_ah_3__N_128));
    defparam i33_4_lut.INIT = "0xc118";
    (* lut_function="(!(A (B (C+(D)))+!A (B+((D)+!C))))" *) LUT4 seg_ah_4__I_0_2_4_lut (.A(digit_shown[0]), 
            .B(digit_shown[3]), .C(digit_shown[2]), .D(digit_shown[1]), 
            .Z(\seg_ah[4] ));
    defparam seg_ah_4__I_0_2_4_lut.INIT = "0x223a";
    
endmodule

//
// Verilog Description of module \counter(WIDTH=17,MAX=131071) 
//

module \counter(WIDTH=17,MAX=131071)  (input clk, output anode_n_c, output stable_N_141, 
            input reset_b_c);
    
    (* is_clock=1 *) wire clk;
    
    wire GND_net, VCC_net;
    wire [16:0]anode_n_c_N_123;
    
    wire n8, n1899, n1901, n10, n2, n3054, n15, n14, n9, n3060, 
        n1897, n5, n3051, n12, n11, n13, n1895, n3048, n17, 
        n1893, n3045, n16, n3042, n3063, n3, n4, n6, n7, n1907, 
        n3066, n1905, n1903, n3057;
    
    FA2 count_179_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(n10), .D0(n1899), 
        .CI0(n1899), .A1(GND_net), .B1(GND_net), .C1(n9), .D1(n3054), 
        .CI1(n3054), .CO0(n3054), .CO1(n1901), .S0(anode_n_c_N_123[7]), 
        .S1(anode_n_c_N_123[8]));
    defparam count_179_add_4_9.INIT0 = "0xc33c";
    defparam count_179_add_4_9.INIT1 = "0xc33c";
    FA2 count_179_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(n12), .D0(n1897), 
        .CI0(n1897), .A1(GND_net), .B1(GND_net), .C1(n11), .D1(n3051), 
        .CI1(n3051), .CO0(n3051), .CO1(n1899), .S0(anode_n_c_N_123[5]), 
        .S1(anode_n_c_N_123[6]));
    defparam count_179_add_4_7.INIT0 = "0xc33c";
    defparam count_179_add_4_7.INIT1 = "0xc33c";
    FA2 count_179_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n14), .D0(n1895), 
        .CI0(n1895), .A1(GND_net), .B1(GND_net), .C1(n13), .D1(n3048), 
        .CI1(n3048), .CO0(n3048), .CO1(n1897), .S0(anode_n_c_N_123[3]), 
        .S1(anode_n_c_N_123[4]));
    defparam count_179_add_4_5.INIT0 = "0xc33c";
    defparam count_179_add_4_5.INIT1 = "0xc33c";
    FA2 count_179_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n16), .D0(n1893), 
        .CI0(n1893), .A1(GND_net), .B1(GND_net), .C1(n15), .D1(n3045), 
        .CI1(n3045), .CO0(n3045), .CO1(n1895), .S0(anode_n_c_N_123[1]), 
        .S1(anode_n_c_N_123[2]));
    defparam count_179_add_4_3.INIT0 = "0xc33c";
    defparam count_179_add_4_3.INIT1 = "0xc33c";
    FA2 count_179_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(VCC_net), .C1(n17), .D1(n3042), .CI1(n3042), .CO0(n3042), 
        .CO1(n1893), .S1(anode_n_c_N_123[0]));
    defparam count_179_add_4_1.INIT0 = "0xc33c";
    defparam count_179_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i17 (.D(anode_n_c_N_123[16]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(anode_n_c));
    defparam count_179__i17.REGSET = "RESET";
    defparam count_179__i17.SRMODE = "ASYNC";
    (* lut_function="(!(A))" *) LUT4 i8_1_lut (.A(reset_b_c), .Z(stable_N_141));
    defparam i8_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i16 (.D(anode_n_c_N_123[15]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n2));
    defparam count_179__i16.REGSET = "RESET";
    defparam count_179__i16.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i15 (.D(anode_n_c_N_123[14]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n3));
    defparam count_179__i15.REGSET = "RESET";
    defparam count_179__i15.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i14 (.D(anode_n_c_N_123[13]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n4));
    defparam count_179__i14.REGSET = "RESET";
    defparam count_179__i14.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i13 (.D(anode_n_c_N_123[12]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n5));
    defparam count_179__i13.REGSET = "RESET";
    defparam count_179__i13.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i12 (.D(anode_n_c_N_123[11]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n6));
    defparam count_179__i12.REGSET = "RESET";
    defparam count_179__i12.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i11 (.D(anode_n_c_N_123[10]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n7));
    defparam count_179__i11.REGSET = "RESET";
    defparam count_179__i11.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i10 (.D(anode_n_c_N_123[9]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n8));
    defparam count_179__i10.REGSET = "RESET";
    defparam count_179__i10.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i9 (.D(anode_n_c_N_123[8]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n9));
    defparam count_179__i9.REGSET = "RESET";
    defparam count_179__i9.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i8 (.D(anode_n_c_N_123[7]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n10));
    defparam count_179__i8.REGSET = "RESET";
    defparam count_179__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i7 (.D(anode_n_c_N_123[6]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n11));
    defparam count_179__i7.REGSET = "RESET";
    defparam count_179__i7.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i6 (.D(anode_n_c_N_123[5]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n12));
    defparam count_179__i6.REGSET = "RESET";
    defparam count_179__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i5 (.D(anode_n_c_N_123[4]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n13));
    defparam count_179__i5.REGSET = "RESET";
    defparam count_179__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i4 (.D(anode_n_c_N_123[3]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n14));
    defparam count_179__i4.REGSET = "RESET";
    defparam count_179__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i3 (.D(anode_n_c_N_123[2]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n15));
    defparam count_179__i3.REGSET = "RESET";
    defparam count_179__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i2 (.D(anode_n_c_N_123[1]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n16));
    defparam count_179__i2.REGSET = "RESET";
    defparam count_179__i2.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    FA2 count_179_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(n2), .D0(n1907), 
        .CI0(n1907), .A1(GND_net), .B1(GND_net), .C1(anode_n_c), .D1(n3066), 
        .CI1(n3066), .CO0(n3066), .S0(anode_n_c_N_123[15]), .S1(anode_n_c_N_123[16]));
    defparam count_179_add_4_17.INIT0 = "0xc33c";
    defparam count_179_add_4_17.INIT1 = "0xc33c";
    FA2 count_179_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(n4), .D0(n1905), 
        .CI0(n1905), .A1(GND_net), .B1(GND_net), .C1(n3), .D1(n3063), 
        .CI1(n3063), .CO0(n3063), .CO1(n1907), .S0(anode_n_c_N_123[13]), 
        .S1(anode_n_c_N_123[14]));
    defparam count_179_add_4_15.INIT0 = "0xc33c";
    defparam count_179_add_4_15.INIT1 = "0xc33c";
    FA2 count_179_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(n6), .D0(n1903), 
        .CI0(n1903), .A1(GND_net), .B1(GND_net), .C1(n5), .D1(n3060), 
        .CI1(n3060), .CO0(n3060), .CO1(n1905), .S0(anode_n_c_N_123[11]), 
        .S1(anode_n_c_N_123[12]));
    defparam count_179_add_4_13.INIT0 = "0xc33c";
    defparam count_179_add_4_13.INIT1 = "0xc33c";
    FA2 count_179_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(n8), .D0(n1901), 
        .CI0(n1901), .A1(GND_net), .B1(GND_net), .C1(n7), .D1(n3057), 
        .CI1(n3057), .CO0(n3057), .CO1(n1903), .S0(anode_n_c_N_123[9]), 
        .S1(anode_n_c_N_123[10]));
    defparam count_179_add_4_11.INIT0 = "0xc33c";
    defparam count_179_add_4_11.INIT1 = "0xc33c";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1 *) FD1P3XZ count_179__i1 (.D(anode_n_c_N_123[0]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n17));
    defparam count_179__i1.REGSET = "RESET";
    defparam count_179__i1.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module key_control
//

module key_control (output key_valid, input updated, input n5, input clk, 
            input stable_N_141, input n6, input one_key, input any_key, 
            input stable, input n2256);
    
    wire fresh;
    (* is_clock=1 *) wire clk;
    wire [2:0]state;
    
    wire n2212, n1, n759, n703, n701;
    
    FD1P3XZ state_FSM_i0_i2 (.D(n703), .SP(fresh), .CK(clk), .SR(stable_N_141), 
            .Q(state[0]));
    defparam state_FSM_i0_i2.REGSET = "SET";
    defparam state_FSM_i0_i2.SRMODE = "ASYNC";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 Select_225_i1_3_lut (.A(n5), 
            .B(state[1]), .C(n6), .Z(n1));
    defparam Select_225_i1_3_lut.INIT = "0xc8c8";
    (* lut_function="(A (B (C)+!B (C (D))))" *) LUT4 i2_4_lut (.A(one_key), 
            .B(n1), .C(fresh), .D(n759), .Z(key_valid));
    defparam i2_4_lut.INIT = "0xa080";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(state[0]), .B(state[2]), 
            .Z(n759));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B))" *) LUT4 updated_I_0_2_lut (.A(updated), .B(stable), 
            .Z(fresh));
    defparam updated_I_0_2_lut.INIT = "0x8888";
    FD1P3XZ state_FSM_i0_i1 (.D(n701), .SP(fresh), .CK(clk), .SR(stable_N_141), 
            .Q(state[1]));
    defparam state_FSM_i0_i1.REGSET = "RESET";
    defparam state_FSM_i0_i1.SRMODE = "ASYNC";
    (* lut_function="(A (D)+!A (B (D)+!B (C (D))))" *) LUT4 i1_2_lut_3_lut_4_lut (.A(state[1]), 
            .B(state[0]), .C(state[2]), .D(n2256), .Z(n2212));
    defparam i1_2_lut_3_lut_4_lut.INIT = "0xfe00";
    (* lut_function="(A (D)+!A (B (D)+!B (C (D))))" *) LUT4 i414_2_lut_3_lut_4_lut (.A(state[1]), 
            .B(state[0]), .C(state[2]), .D(one_key), .Z(n701));
    defparam i414_2_lut_3_lut_4_lut.INIT = "0xfe00";
    (* lut_function="(!(A (D)+!A (B (D)+!B ((D)+!C))))" *) LUT4 i415_2_lut_3_lut_4_lut (.A(state[1]), 
            .B(state[0]), .C(state[2]), .D(any_key), .Z(n703));
    defparam i415_2_lut_3_lut_4_lut.INIT = "0x00fe";
    FD1P3XZ state_FSM_i0_i0 (.D(n2212), .SP(fresh), .CK(clk), .SR(stable_N_141), 
            .Q(state[2]));
    defparam state_FSM_i0_i0.REGSET = "RESET";
    defparam state_FSM_i0_i0.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module debouncer
//

module debouncer (input [3:0]cols_sync, output stable, input stable_N_141, 
            input clk, output [3:0]cols_stable, output hold, output updated);
    
    wire [3:0]candidate;
    wire [19:0]counter;
    (* is_clock=1 *) wire clk;
    
    wire GND_net, VCC_net, n7;
    wire [3:0]n75;
    wire [19:0]n85;
    wire [19:0]counter_19__N_92;
    
    wire n1878, n3087, n648, stable_N_140, n3081, n646, n2, n13, 
        n1880, n8, n3084, n10, n7_adj_150, n20, n6, n4, n633, 
        updated_N_138, n1890, n12, n3072, n3069, n1876, n1884, 
        n6_adj_151, n1886, n16, n114, n1882, n9, n15, n3090, 
        n3096, n11, n1874, n1872, n17, n3078, n13_adj_152, n3075, 
        n14, n5_adj_153, n1888, n3093, n3, n2_adj_154, n19, n18, 
        n3039, n6_adj_149, n5;
    
    (* lut_function="(!(A (B+!(C+(D)))+!A (B+!(D))))" *) LUT4 i356_4_lut_4_lut (.A(n75[1]), 
            .B(n7), .C(counter[19]), .D(stable), .Z(stable_N_140));
    defparam i356_4_lut_4_lut.INIT = "0x3320";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 not_equal_24_i2_2_lut (.A(cols_sync[1]), 
            .B(candidate[1]), .Z(n2));
    defparam not_equal_24_i2_2_lut.INIT = "0x6666";
    FD1P3XZ state_FSM_i1 (.D(n646), .SP(VCC_net), .CK(clk), .SR(stable_N_141), 
            .Q(n75[0]));
    defparam state_FSM_i1.REGSET = "SET";
    defparam state_FSM_i1.SRMODE = "ASYNC";
    (* lut_function="(!(A (B (C (D))+!B !((D)+!C))+!A !(B (C+!(D))+!B (C+(D)))))" *) LUT4 i2_4_lut (.A(cols_sync[2]), 
            .B(cols_sync[3]), .C(candidate[2]), .D(candidate[3]), .Z(n6));
    defparam i2_4_lut.INIT = "0x7bde";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=45, LSE_RCOL=61, LSE_LLINE=57, LSE_RLINE=59 *) FD1P3XZ updated_c (.D(updated_N_138), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(updated));
    defparam updated_c.REGSET = "RESET";
    defparam updated_c.SRMODE = "ASYNC";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C+(D))))" *) LUT4 i3_4_lut (.A(cols_sync[0]), 
            .B(n6), .C(n2), .D(candidate[0]), .Z(n7));
    defparam i3_4_lut.INIT = "0xfdfe";
    (* lut_function="(A+(B))" *) LUT4 reduce_or_33_i1_2_lut (.A(stable), .B(n75[1]), 
            .Z(n633));
    defparam reduce_or_33_i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (B (D)))" *) LUT4 i364_4_lut (.A(n75[0]), 
            .B(n7), .C(hold), .D(n633), .Z(n646));
    defparam i364_4_lut.INIT = "0xeca0";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=45, LSE_RCOL=61, LSE_LLINE=57, LSE_RLINE=59 *) FD1P3XZ q_i0_i0 (.D(candidate[0]), 
            .SP(n114), .CK(clk), .SR(stable_N_141), .Q(cols_stable[0]));
    defparam q_i0_i0.REGSET = "RESET";
    defparam q_i0_i0.SRMODE = "ASYNC";
    FA2 counter_177_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(n7_adj_150), 
        .D0(n1884), .CI0(n1884), .A1(GND_net), .B1(GND_net), .C1(n6_adj_151), 
        .D1(n3087), .CI1(n3087), .CO0(n3087), .CO1(n1886), .S0(n85[13]), 
        .S1(n85[14]));
    defparam counter_177_add_4_15.INIT0 = "0xc33c";
    defparam counter_177_add_4_15.INIT1 = "0xc33c";
    (* lut_function="(!(A+(B+(C+(D)))))" *) LUT4 i2156_4_lut (.A(cols_sync[0]), 
            .B(cols_sync[2]), .C(cols_sync[1]), .D(cols_sync[3]), .Z(hold));
    defparam i2156_4_lut.INIT = "0x0001";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i1 (.D(counter_19__N_92[0]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n20));
    defparam counter_177__i1.REGSET = "RESET";
    defparam counter_177__i1.SRMODE = "ASYNC";
    (* lut_function="(!((B)+!A))" *) LUT4 i13_2_lut (.A(n75[0]), .B(hold), 
            .Z(n13));
    defparam i13_2_lut.INIT = "0x2222";
    FA2 counter_177_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(n9), .D0(n1882), 
        .CI0(n1882), .A1(GND_net), .B1(GND_net), .C1(n8), .D1(n3084), 
        .CI1(n3084), .CO0(n3084), .CO1(n1884), .S0(n85[11]), .S1(n85[12]));
    defparam counter_177_add_4_13.INIT0 = "0xc33c";
    defparam counter_177_add_4_13.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i1013_2_lut (.A(n85[1]), .B(n75[0]), 
            .Z(counter_19__N_92[1]));
    defparam i1013_2_lut.INIT = "0x2222";
    FA2 counter_177_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(n11), .D0(n1880), 
        .CI0(n1880), .A1(GND_net), .B1(GND_net), .C1(n10), .D1(n3081), 
        .CI1(n3081), .CO0(n3081), .CO1(n1882), .S0(n85[9]), .S1(n85[10]));
    defparam counter_177_add_4_11.INIT0 = "0xc33c";
    defparam counter_177_add_4_11.INIT1 = "0xc33c";
    FA2 counter_177_add_4_21 (.A0(GND_net), .B0(GND_net), .C0(counter[19]), 
        .D0(n1890), .CI0(n1890), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n3096), .CI1(n3096), .CO0(n3096), .S0(n85[19]));
    defparam counter_177_add_4_21.INIT0 = "0xc33c";
    defparam counter_177_add_4_21.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i1012_2_lut (.A(n85[2]), .B(n75[0]), 
            .Z(counter_19__N_92[2]));
    defparam i1012_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i1011_2_lut (.A(n85[3]), .B(n75[0]), 
            .Z(counter_19__N_92[3]));
    defparam i1011_2_lut.INIT = "0x2222";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i20 (.D(counter_19__N_92[19]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(counter[19]));
    defparam counter_177__i20.REGSET = "RESET";
    defparam counter_177__i20.SRMODE = "ASYNC";
    (* lut_function="(!((B)+!A))" *) LUT4 i1010_2_lut (.A(n85[4]), .B(n75[0]), 
            .Z(counter_19__N_92[4]));
    defparam i1010_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i1009_2_lut (.A(n85[5]), .B(n75[0]), 
            .Z(counter_19__N_92[5]));
    defparam i1009_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i1008_2_lut (.A(n85[6]), .B(n75[0]), 
            .Z(counter_19__N_92[6]));
    defparam i1008_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i1007_2_lut (.A(n85[7]), .B(n75[0]), 
            .Z(counter_19__N_92[7]));
    defparam i1007_2_lut.INIT = "0x2222";
    FA2 counter_177_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(n13_adj_152), 
        .D0(n1878), .CI0(n1878), .A1(GND_net), .B1(GND_net), .C1(n12), 
        .D1(n3078), .CI1(n3078), .CO0(n3078), .CO1(n1880), .S0(n85[7]), 
        .S1(n85[8]));
    defparam counter_177_add_4_9.INIT0 = "0xc33c";
    defparam counter_177_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i1006_2_lut (.A(n85[8]), .B(n75[0]), 
            .Z(counter_19__N_92[8]));
    defparam i1006_2_lut.INIT = "0x2222";
    FA2 counter_177_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(n15), .D0(n1876), 
        .CI0(n1876), .A1(GND_net), .B1(GND_net), .C1(n14), .D1(n3075), 
        .CI1(n3075), .CO0(n3075), .CO1(n1878), .S0(n85[5]), .S1(n85[6]));
    defparam counter_177_add_4_7.INIT0 = "0xc33c";
    defparam counter_177_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i1005_2_lut (.A(n85[9]), .B(n75[0]), 
            .Z(counter_19__N_92[9]));
    defparam i1005_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i1004_2_lut (.A(n85[10]), .B(n75[0]), 
            .Z(counter_19__N_92[10]));
    defparam i1004_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i1003_2_lut (.A(n85[11]), .B(n75[0]), 
            .Z(counter_19__N_92[11]));
    defparam i1003_2_lut.INIT = "0x2222";
    FA2 counter_177_add_4_19 (.A0(GND_net), .B0(GND_net), .C0(n3), .D0(n1888), 
        .CI0(n1888), .A1(GND_net), .B1(GND_net), .C1(n2_adj_154), .D1(n3093), 
        .CI1(n3093), .CO0(n3093), .CO1(n1890), .S0(n85[17]), .S1(n85[18]));
    defparam counter_177_add_4_19.INIT0 = "0xc33c";
    defparam counter_177_add_4_19.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i1002_2_lut (.A(n85[12]), .B(n75[0]), 
            .Z(counter_19__N_92[12]));
    defparam i1002_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i1001_2_lut (.A(n85[13]), .B(n75[0]), 
            .Z(counter_19__N_92[13]));
    defparam i1001_2_lut.INIT = "0x2222";
    FA2 counter_177_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n17), .D0(n1874), 
        .CI0(n1874), .A1(GND_net), .B1(GND_net), .C1(n16), .D1(n3072), 
        .CI1(n3072), .CO0(n3072), .CO1(n1876), .S0(n85[3]), .S1(n85[4]));
    defparam counter_177_add_4_5.INIT0 = "0xc33c";
    defparam counter_177_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i1000_2_lut (.A(n85[14]), .B(n75[0]), 
            .Z(counter_19__N_92[14]));
    defparam i1000_2_lut.INIT = "0x2222";
    FA2 counter_177_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n19), .D0(n1872), 
        .CI0(n1872), .A1(GND_net), .B1(GND_net), .C1(n18), .D1(n3069), 
        .CI1(n3069), .CO0(n3069), .CO1(n1874), .S0(n85[1]), .S1(n85[2]));
    defparam counter_177_add_4_3.INIT0 = "0xc33c";
    defparam counter_177_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i999_2_lut (.A(n85[15]), .B(n75[0]), 
            .Z(counter_19__N_92[15]));
    defparam i999_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i998_2_lut (.A(n85[16]), .B(n75[0]), 
            .Z(counter_19__N_92[16]));
    defparam i998_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i997_2_lut (.A(n85[17]), .B(n75[0]), 
            .Z(counter_19__N_92[17]));
    defparam i997_2_lut.INIT = "0x2222";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i19 (.D(counter_19__N_92[18]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n2_adj_154));
    defparam counter_177__i19.REGSET = "RESET";
    defparam counter_177__i19.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i18 (.D(counter_19__N_92[17]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n3));
    defparam counter_177__i18.REGSET = "RESET";
    defparam counter_177__i18.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i17 (.D(counter_19__N_92[16]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n4));
    defparam counter_177__i17.REGSET = "RESET";
    defparam counter_177__i17.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i16 (.D(counter_19__N_92[15]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n5_adj_153));
    defparam counter_177__i16.REGSET = "RESET";
    defparam counter_177__i16.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i15 (.D(counter_19__N_92[14]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n6_adj_151));
    defparam counter_177__i15.REGSET = "RESET";
    defparam counter_177__i15.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i14 (.D(counter_19__N_92[13]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n7_adj_150));
    defparam counter_177__i14.REGSET = "RESET";
    defparam counter_177__i14.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i13 (.D(counter_19__N_92[12]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n8));
    defparam counter_177__i13.REGSET = "RESET";
    defparam counter_177__i13.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i12 (.D(counter_19__N_92[11]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n9));
    defparam counter_177__i12.REGSET = "RESET";
    defparam counter_177__i12.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i11 (.D(counter_19__N_92[10]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n10));
    defparam counter_177__i11.REGSET = "RESET";
    defparam counter_177__i11.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i10 (.D(counter_19__N_92[9]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n11));
    defparam counter_177__i10.REGSET = "RESET";
    defparam counter_177__i10.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i9 (.D(counter_19__N_92[8]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n12));
    defparam counter_177__i9.REGSET = "RESET";
    defparam counter_177__i9.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i8 (.D(counter_19__N_92[7]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n13_adj_152));
    defparam counter_177__i8.REGSET = "RESET";
    defparam counter_177__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i7 (.D(counter_19__N_92[6]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n14));
    defparam counter_177__i7.REGSET = "RESET";
    defparam counter_177__i7.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i6 (.D(counter_19__N_92[5]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n15));
    defparam counter_177__i6.REGSET = "RESET";
    defparam counter_177__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i5 (.D(counter_19__N_92[4]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n16));
    defparam counter_177__i5.REGSET = "RESET";
    defparam counter_177__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i4 (.D(counter_19__N_92[3]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n17));
    defparam counter_177__i4.REGSET = "RESET";
    defparam counter_177__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i3 (.D(counter_19__N_92[2]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n18));
    defparam counter_177__i3.REGSET = "RESET";
    defparam counter_177__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_177__i2 (.D(counter_19__N_92[1]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n19));
    defparam counter_177__i2.REGSET = "RESET";
    defparam counter_177__i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=45, LSE_RCOL=61, LSE_LLINE=57, LSE_RLINE=59 *) FD1P3XZ q_i0_i3 (.D(candidate[3]), 
            .SP(n114), .CK(clk), .SR(stable_N_141), .Q(cols_stable[3]));
    defparam q_i0_i3.REGSET = "RESET";
    defparam q_i0_i3.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=45, LSE_RCOL=61, LSE_LLINE=57, LSE_RLINE=59 *) FD1P3XZ q_i0_i2 (.D(candidate[2]), 
            .SP(n114), .CK(clk), .SR(stable_N_141), .Q(cols_stable[2]));
    defparam q_i0_i2.REGSET = "RESET";
    defparam q_i0_i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=45, LSE_RCOL=61, LSE_LLINE=57, LSE_RLINE=59 *) FD1P3XZ q_i0_i1 (.D(candidate[1]), 
            .SP(n114), .CK(clk), .SR(stable_N_141), .Q(cols_stable[1]));
    defparam q_i0_i1.REGSET = "RESET";
    defparam q_i0_i1.SRMODE = "ASYNC";
    (* lut_function="(!((B)+!A))" *) LUT4 i996_2_lut (.A(n85[18]), .B(n75[0]), 
            .Z(counter_19__N_92[18]));
    defparam i996_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i995_2_lut (.A(n85[19]), .B(n75[0]), 
            .Z(counter_19__N_92[19]));
    defparam i995_2_lut.INIT = "0x2222";
    FD1P3XZ state_FSM_i3 (.D(stable_N_140), .SP(VCC_net), .CK(clk), .SR(stable_N_141), 
            .Q(stable));
    defparam state_FSM_i3.REGSET = "RESET";
    defparam state_FSM_i3.SRMODE = "ASYNC";
    FD1P3XZ state_FSM_i2 (.D(n648), .SP(VCC_net), .CK(clk), .SR(stable_N_141), 
            .Q(n75[1]));
    defparam state_FSM_i2.REGSET = "RESET";
    defparam state_FSM_i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=45, LSE_RCOL=61, LSE_LLINE=57, LSE_RLINE=59 *) FD1P3XZ candidate_i0_i3 (.D(cols_sync[3]), 
            .SP(n13), .CK(clk), .SR(stable_N_141), .Q(candidate[3]));
    defparam candidate_i0_i3.REGSET = "RESET";
    defparam candidate_i0_i3.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=45, LSE_RCOL=61, LSE_LLINE=57, LSE_RLINE=59 *) FD1P3XZ candidate_i0_i2 (.D(cols_sync[2]), 
            .SP(n13), .CK(clk), .SR(stable_N_141), .Q(candidate[2]));
    defparam candidate_i0_i2.REGSET = "RESET";
    defparam candidate_i0_i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=45, LSE_RCOL=61, LSE_LLINE=57, LSE_RLINE=59 *) FD1P3XZ candidate_i0_i1 (.D(cols_sync[1]), 
            .SP(n13), .CK(clk), .SR(stable_N_141), .Q(candidate[1]));
    defparam candidate_i0_i1.REGSET = "RESET";
    defparam candidate_i0_i1.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    FA2 counter_177_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(n20), .D1(n3039), .CI1(n3039), 
        .CO0(n3039), .CO1(n1872), .S1(n85[0]));
    defparam counter_177_add_4_1.INIT0 = "0xc33c";
    defparam counter_177_add_4_1.INIT1 = "0xc33c";
    FA2 counter_177_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(n5_adj_153), 
        .D0(n1886), .CI0(n1886), .A1(GND_net), .B1(GND_net), .C1(n4), 
        .D1(n3090), .CI1(n3090), .CO0(n3090), .CO1(n1888), .S0(n85[15]), 
        .S1(n85[16]));
    defparam counter_177_add_4_17.INIT0 = "0xc33c";
    defparam counter_177_add_4_17.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i962_2_lut (.A(n85[0]), .B(n75[0]), 
            .Z(counter_19__N_92[0]));
    defparam i962_2_lut.INIT = "0x2222";
    (* lut_function="(!((B+!(C+(D)))+!A))" *) LUT4 i37_2_lut_4_lut (.A(n75[1]), 
            .B(n7), .C(counter[19]), .D(stable), .Z(n114));
    defparam i37_2_lut_4_lut.INIT = "0x2220";
    (* lut_function="(!(A (B (C (D))+!B !((D)+!C))+!A !(B (C+!(D))+!B (C+(D)))))" *) LUT4 i2_4_lut_adj_4 (.A(cols_stable[2]), 
            .B(cols_stable[3]), .C(candidate[2]), .D(candidate[3]), .Z(n6_adj_149));
    defparam i2_4_lut_adj_4.INIT = "0x7bde";
    (* lut_function="(!(A (B (C (D))+!B !((D)+!C))+!A !(B (C+!(D))+!B (C+(D)))))" *) LUT4 i1_4_lut (.A(cols_stable[0]), 
            .B(cols_stable[1]), .C(candidate[0]), .D(candidate[1]), .Z(n5));
    defparam i1_4_lut.INIT = "0x7bde";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i925_3_lut (.A(n5), .B(n114), 
            .C(n6_adj_149), .Z(updated_N_138));
    defparam i925_3_lut.INIT = "0xc8c8";
    (* lut_function="(A (B (C)+!B (C+!(D)))+!A (C))" *) LUT4 i366_3_lut_4_lut (.A(n75[1]), 
            .B(n7), .C(n13), .D(counter[19]), .Z(n648));
    defparam i366_3_lut_4_lut.INIT = "0xf0f2";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=45, LSE_RCOL=61, LSE_LLINE=57, LSE_RLINE=59 *) FD1P3XZ candidate_i0_i0 (.D(cols_sync[0]), 
            .SP(n13), .CK(clk), .SR(stable_N_141), .Q(candidate[0]));
    defparam candidate_i0_i0.REGSET = "RESET";
    defparam candidate_i0_i0.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module \synchronizer(WIDTH=4) 
//

module \synchronizer(WIDTH=4)  (input clk, output [3:0]cols_sync, input stable_N_141, 
            input [3:0]cols_c);
    
    (* is_clock=1 *) wire clk;
    wire [3:0]n1;
    
    wire VCC_net;
    
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=31, LSE_RCOL=97, LSE_LLINE=37, LSE_RLINE=37 *) FD1P3XZ q_i2 (.D(n1[2]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(cols_sync[2]));
    defparam q_i2.REGSET = "RESET";
    defparam q_i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=31, LSE_RCOL=97, LSE_LLINE=37, LSE_RLINE=37 *) FD1P3XZ q_i3 (.D(n1[3]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(cols_sync[3]));
    defparam q_i3.REGSET = "RESET";
    defparam q_i3.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=31, LSE_RCOL=97, LSE_LLINE=37, LSE_RLINE=37 *) FD1P3XZ n1_i0 (.D(cols_c[0]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n1[0]));
    defparam n1_i0.REGSET = "RESET";
    defparam n1_i0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=31, LSE_RCOL=97, LSE_LLINE=37, LSE_RLINE=37 *) FD1P3XZ n1_i1 (.D(cols_c[1]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n1[1]));
    defparam n1_i1.REGSET = "RESET";
    defparam n1_i1.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=31, LSE_RCOL=97, LSE_LLINE=37, LSE_RLINE=37 *) FD1P3XZ n1_i3 (.D(cols_c[3]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n1[3]));
    defparam n1_i3.REGSET = "RESET";
    defparam n1_i3.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=31, LSE_RCOL=97, LSE_LLINE=37, LSE_RLINE=37 *) FD1P3XZ q_i0 (.D(n1[0]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(cols_sync[0]));
    defparam q_i0.REGSET = "RESET";
    defparam q_i0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=31, LSE_RCOL=97, LSE_LLINE=37, LSE_RLINE=37 *) FD1P3XZ n1_i2 (.D(cols_c[2]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(n1[2]));
    defparam n1_i2.REGSET = "RESET";
    defparam n1_i2.SRMODE = "ASYNC";
    VHI i1 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=33, LSE_LCOL=31, LSE_RCOL=97, LSE_LLINE=37, LSE_RLINE=37 *) FD1P3XZ q_i1 (.D(n1[1]), 
            .SP(VCC_net), .CK(clk), .SR(stable_N_141), .Q(cols_sync[1]));
    defparam q_i1.REGSET = "RESET";
    defparam q_i1.SRMODE = "ASYNC";
    
endmodule
