// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Tue Sep 15 14:25:45 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab1/lab1_ga/source/impl_1/counter.sv"
// file 1 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab1/lab1_ga/source/impl_1/lab1_ga.sv"
// file 2 "c:/users/gmenendezdealencar/documents/github/hmc-e155-portfolio/labfiles/lab1/lab1_ga/source/impl_1/sevenseg_decoder.sv"
// file 3 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.v"
// file 4 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.vhd"
// file 5 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 6 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 7 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 8 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 9 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 10 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 11 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 12 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 13 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 14 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 15 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 16 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 17 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 18 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 19 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 20 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 21 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 22 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 23 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 24 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 25 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 26 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 27 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 28 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 29 "c:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 30 "c:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 31 "c:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 32 "c:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 33 "c:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 34 "c:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 35 "c:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 36 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 37 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 38 "c:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 39 "c:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 40 "c:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 41 "c:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 42 "c:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 43 "c:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 44 "c:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 45 "c:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 46 "c:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 47 "c:/lscc/radiant/2026.1/ip/pmi/pmi_dsp.v"
// file 48 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 49 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 50 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 51 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 52 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 53 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 54 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 55 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 56 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 57 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 58 "c:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 59 "c:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 60 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 61 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 62 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 63 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 64 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 65 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 66 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 67 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 68 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 69 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 70 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 71 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 72 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 73 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 74 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 75 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 76 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 77 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 78 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module lab1_GA
//

module lab1_GA (input [3:0]s, output [2:0]led, output [6:0]seg);
    
    wire GND_net;
    wire VCC_net;
    wire [3:0]s_c;
    wire [2:0]led_c;
    wire [6:0]seg_c;
    (* is_clock=1 *) wire clk;
    wire [23:0]count;
    wire [6:0]seg_ah;
    
    wire n187, n4, n508, n22, n510, n614, n10, n513;
    
    VHI i2 (.Z(VCC_net));
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i35_4_lut (.A(count[9]), 
            .B(count[10]), .C(count[8]), .D(n510), .Z(n22));
    defparam i35_4_lut.INIT = "0xeccc";
    (* lut_function="(A+(B+(C (D))))" *) LUT4 i2_4_lut (.A(count[13]), .B(count[12]), 
            .C(n22), .D(count[11]), .Z(n508));
    defparam i2_4_lut.INIT = "0xfeee";
    (* lut_function="(A+(B+(C (D))))" *) LUT4 i2_4_lut_adj_1 (.A(count[15]), 
            .B(n187), .C(n508), .D(count[14]), .Z(n513));
    defparam i2_4_lut_adj_1.INIT = "0xfeee";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=22, LSE_RCOL=51, LSE_LLINE=28, LSE_RLINE=28 *) sevenseg_decoder u_sevenseg ({s_c}, 
            seg_ah[2], seg_ah[6], seg_ah[0], seg_c[3], seg_ah[5], 
            seg_ah[4], seg_ah[1]);
    IB \s_pad[3]  (.I(s[3]), .O(s_c[3]));
    IB \s_pad[2]  (.I(s[2]), .O(s_c[2]));
    IB \s_pad[1]  (.I(s[1]), .O(s_c[1]));
    IB \s_pad[0]  (.I(s[0]), .O(s_c[0]));
    OB \led_pad[2]  (.I(led_c[2]), .O(led[2]));
    OB \led_pad[1]  (.I(led_c[1]), .O(led[1]));
    OB \led_pad[0]  (.I(led_c[0]), .O(led[0]));
    OB \seg_pad[6]  (.I(seg_ah[6]), .O(seg[6]));
    OB \seg_pad[5]  (.I(seg_ah[5]), .O(seg[5]));
    OB \seg_pad[4]  (.I(seg_ah[4]), .O(seg[4]));
    OB \seg_pad[3]  (.I(seg_c[3]), .O(seg[3]));
    OB \seg_pad[2]  (.I(seg_ah[2]), .O(seg[2]));
    OB \seg_pad[1]  (.I(seg_ah[1]), .O(seg[1]));
    OB \seg_pad[0]  (.I(seg_ah[0]), .O(seg[0]));
    (* lut_function="(A+(B (C (D))))" *) LUT4 i1_4_lut (.A(count[20]), .B(count[19]), 
            .C(count[18]), .D(n513), .Z(n4));
    defparam i1_4_lut.INIT = "0xeaaa";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 led_c_2__I_0_4_lut (.A(count[21]), 
            .B(count[23]), .C(count[22]), .D(n4), .Z(led_c[2]));
    defparam led_c_2__I_0_4_lut.INIT = "0xfcec";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(count[17]), .B(count[16]), 
            .Z(n187));
    defparam i1_2_lut.INIT = "0xeeee";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=47, LSE_RCOL=119, LSE_LLINE=31, LSE_RLINE=31 *) counter u_counter (n614, 
            count[1], count[11], count[7], count[13], count[21], count[23], 
            count[4], count[9], count[10], count[18], count[2], count[22], 
            clk, count[15], count[16], count[14], count[8], n187, 
            count[19], count[20], count[0], count[12], count[17], 
            count[6]);
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 s_c_1__I_0_2_lut (.A(s_c[1]), 
            .B(s_c[0]), .Z(led_c[0]));
    defparam s_c_1__I_0_2_lut.INIT = "0x6666";
    (* lut_function="(A (B))" *) LUT4 s_c_3__I_0_2_lut (.A(s_c[3]), .B(s_c[2]), 
            .Z(led_c[1]));
    defparam s_c_3__I_0_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i4_4_lut (.A(count[2]), .B(count[1]), 
            .C(count[0]), .D(count[4]), .Z(n10));
    defparam i4_4_lut.INIT = "0x8000";
    (* lut_function="(A+(B+(C (D))))" *) LUT4 i2_4_lut_adj_2 (.A(count[7]), 
            .B(count[6]), .C(n614), .D(n10), .Z(n510));
    defparam i2_4_lut_adj_2.INIT = "0xfeee";
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(clk));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    
endmodule

//
// Verilog Description of module sevenseg_decoder
//

module sevenseg_decoder (input [3:0]s_c, output \seg_ah[2] , output \seg_ah[6] , 
            output \seg_ah[0] , output seg_ah_3__N_42, output \seg_ah[5] , 
            output \seg_ah[4] , output \seg_ah[1] );
    
    
    (* lut_function="(A (B (C (D)+!C !(D)))+!A (B (C (D))+!B !(C (D)+!C !(D))))" *) LUT4 i33_4_lut (.A(s_c[3]), 
            .B(s_c[1]), .C(s_c[2]), .D(s_c[0]), .Z(seg_ah_3__N_42));
    defparam i33_4_lut.INIT = "0xc118";
    (* lut_function="(!(A (B+!(C (D)))+!A (B ((D)+!C)+!B (C))))" *) LUT4 seg_ah_6__I_0_2_4_lut (.A(s_c[1]), 
            .B(s_c[3]), .C(s_c[2]), .D(s_c[0]), .Z(\seg_ah[6] ));
    defparam seg_ah_6__I_0_2_4_lut.INIT = "0x2141";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 seg_ah_5__I_0_2_4_lut (.A(s_c[1]), 
            .B(s_c[3]), .C(s_c[2]), .D(s_c[0]), .Z(\seg_ah[5] ));
    defparam seg_ah_5__I_0_2_4_lut.INIT = "0x6302";
    (* lut_function="(A (B (C)+!B !(C+(D)))+!A !(((D)+!C)+!B))" *) LUT4 seg_ah_2__I_0_2_4_lut (.A(s_c[1]), 
            .B(s_c[3]), .C(s_c[2]), .D(s_c[0]), .Z(\seg_ah[2] ));
    defparam seg_ah_2__I_0_2_4_lut.INIT = "0x80c2";
    (* lut_function="(!(A (B (C+(D)))+!A (B+((D)+!C))))" *) LUT4 seg_ah_4__I_0_2_4_lut (.A(s_c[0]), 
            .B(s_c[3]), .C(s_c[2]), .D(s_c[1]), .Z(\seg_ah[4] ));
    defparam seg_ah_4__I_0_2_4_lut.INIT = "0x223a";
    (* lut_function="(!(A (B (C+!(D))+!B (C+(D)))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 s_c_3__I_0_2_4_lut (.A(s_c[2]), 
            .B(s_c[3]), .C(s_c[1]), .D(s_c[0]), .Z(\seg_ah[0] ));
    defparam s_c_3__I_0_2_4_lut.INIT = "0x4902";
    (* lut_function="(A (B (C+!(D))+!B (C (D)))+!A !((C (D)+!C !(D))+!B))" *) LUT4 seg_ah_1__I_0_2_4_lut (.A(s_c[1]), 
            .B(s_c[2]), .C(s_c[3]), .D(s_c[0]), .Z(\seg_ah[1] ));
    defparam seg_ah_1__I_0_2_4_lut.INIT = "0xa4c8";
    
endmodule

//
// Verilog Description of module counter
//

module counter (output n614, output \count[1] , output \count[11] , output \count[7] , 
            output \count[13] , output \count[21] , output \count[23] , 
            output \count[4] , output \count[9] , output \count[10] , 
            output \count[18] , output \count[2] , output \count[22] , 
            input clk, output \count[15] , output \count[16] , output \count[14] , 
            output \count[8] , input n187, output \count[19] , output \count[20] , 
            output \count[0] , output \count[12] , output \count[17] , 
            output \count[6] );
    
    (* is_clock=1 *) wire clk;
    wire [23:0]count;
    
    wire GND_net, VCC_net;
    wire [23:0]n77;
    
    wire n194, n608, n897, n620, n610, n612, n420, n402, n14, 
        n410, n912, n894, n412, n416, n903, n900, n418, n13, 
        n424, n915, n414, n422, n882, n906, n909, n404, n885, 
        n408, n891, n879, n406, n888;
    
    (* lut_function="(A (B (C (D))))" *) LUT4 i529_4_lut (.A(n614), .B(n610), 
            .C(n612), .D(n608), .Z(n620));
    defparam i529_4_lut.INIT = "0x8000";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i6_4_lut (.A(\count[11] ), .B(\count[13] ), 
            .C(\count[7] ), .D(\count[21] ), .Z(n14));
    defparam i6_4_lut.INIT = "0xfffe";
    FA2 count_47_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(\count[9] ), 
        .D0(n410), .CI0(n410), .A1(GND_net), .B1(GND_net), .C1(\count[10] ), 
        .D1(n894), .CI1(n894), .CO0(n894), .CO1(n412), .S0(n77[9]), 
        .S1(n77[10]));
    defparam count_47_add_4_11.INIT0 = "0xc33c";
    defparam count_47_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i22 (.D(n77[22]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[22] ));
    defparam count_47__i22.REGSET = "RESET";
    defparam count_47__i22.SRMODE = "CE_OVER_LSR";
    FA2 count_47_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(\count[15] ), 
        .D0(n416), .CI0(n416), .A1(GND_net), .B1(GND_net), .C1(\count[16] ), 
        .D1(n903), .CI1(n903), .CO0(n903), .CO1(n418), .S0(n77[15]), 
        .S1(n77[16]));
    defparam count_47_add_4_17.INIT0 = "0xc33c";
    defparam count_47_add_4_17.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i5_4_lut (.A(\count[14] ), .B(\count[8] ), 
            .C(\count[22] ), .D(\count[18] ), .Z(n13));
    defparam i5_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+(B+(C+!(D)))))" *) LUT4 i632_4_lut (.A(n13), .B(n187), 
            .C(n14), .D(n620), .Z(n194));
    defparam i632_4_lut.INIT = "0x0100";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i21 (.D(n77[21]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[21] ));
    defparam count_47__i21.REGSET = "RESET";
    defparam count_47__i21.SRMODE = "CE_OVER_LSR";
    FA2 count_47_add_4_25 (.A0(GND_net), .B0(GND_net), .C0(\count[23] ), 
        .D0(n424), .CI0(n424), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n915), .CI1(n915), .CO0(n915), .S0(n77[23]));
    defparam count_47_add_4_25.INIT0 = "0xc33c";
    defparam count_47_add_4_25.INIT1 = "0xc33c";
    FA2 count_47_add_4_23 (.A0(GND_net), .B0(GND_net), .C0(\count[21] ), 
        .D0(n422), .CI0(n422), .A1(GND_net), .B1(GND_net), .C1(\count[22] ), 
        .D1(n912), .CI1(n912), .CO0(n912), .CO1(n424), .S0(n77[21]), 
        .S1(n77[22]));
    defparam count_47_add_4_23.INIT0 = "0xc33c";
    defparam count_47_add_4_23.INIT1 = "0xc33c";
    FA2 count_47_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(\count[13] ), 
        .D0(n414), .CI0(n414), .A1(GND_net), .B1(GND_net), .C1(\count[14] ), 
        .D1(n900), .CI1(n900), .CO0(n900), .CO1(n416), .S0(n77[13]), 
        .S1(n77[14]));
    defparam count_47_add_4_15.INIT0 = "0xc33c";
    defparam count_47_add_4_15.INIT1 = "0xc33c";
    FA2 count_47_add_4_21 (.A0(GND_net), .B0(GND_net), .C0(\count[19] ), 
        .D0(n420), .CI0(n420), .A1(GND_net), .B1(GND_net), .C1(\count[20] ), 
        .D1(n909), .CI1(n909), .CO0(n909), .CO1(n422), .S0(n77[19]), 
        .S1(n77[20]));
    defparam count_47_add_4_21.INIT0 = "0xc33c";
    defparam count_47_add_4_21.INIT1 = "0xc33c";
    FA2 count_47_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(\count[1] ), 
        .D0(n402), .CI0(n402), .A1(GND_net), .B1(GND_net), .C1(\count[2] ), 
        .D1(n882), .CI1(n882), .CO0(n882), .CO1(n404), .S0(n77[1]), 
        .S1(n77[2]));
    defparam count_47_add_4_3.INIT0 = "0xc33c";
    defparam count_47_add_4_3.INIT1 = "0xc33c";
    FA2 count_47_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(\count[7] ), 
        .D0(n408), .CI0(n408), .A1(GND_net), .B1(GND_net), .C1(\count[8] ), 
        .D1(n891), .CI1(n891), .CO0(n891), .CO1(n410), .S0(n77[7]), 
        .S1(n77[8]));
    defparam count_47_add_4_9.INIT0 = "0xc33c";
    defparam count_47_add_4_9.INIT1 = "0xc33c";
    FA2 count_47_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(VCC_net), .C1(\count[0] ), .D1(n879), .CI1(n879), .CO0(n879), 
        .CO1(n402), .S1(n77[0]));
    defparam count_47_add_4_1.INIT0 = "0xc33c";
    defparam count_47_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i523_2_lut (.A(count[3]), .B(count[5]), 
            .Z(n614));
    defparam i523_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i517_4_lut (.A(\count[12] ), 
            .B(\count[19] ), .C(\count[10] ), .D(\count[4] ), .Z(n608));
    defparam i517_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 i521_4_lut (.A(\count[20] ), 
            .B(\count[0] ), .C(\count[1] ), .D(\count[23] ), .Z(n612));
    defparam i521_4_lut.INIT = "0x8000";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i20 (.D(n77[20]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[20] ));
    defparam count_47__i20.REGSET = "RESET";
    defparam count_47__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i19 (.D(n77[19]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[19] ));
    defparam count_47__i19.REGSET = "RESET";
    defparam count_47__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i18 (.D(n77[18]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[18] ));
    defparam count_47__i18.REGSET = "RESET";
    defparam count_47__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i17 (.D(n77[17]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[17] ));
    defparam count_47__i17.REGSET = "RESET";
    defparam count_47__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i16 (.D(n77[16]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[16] ));
    defparam count_47__i16.REGSET = "RESET";
    defparam count_47__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i15 (.D(n77[15]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[15] ));
    defparam count_47__i15.REGSET = "RESET";
    defparam count_47__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i14 (.D(n77[14]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[14] ));
    defparam count_47__i14.REGSET = "RESET";
    defparam count_47__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i13 (.D(n77[13]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[13] ));
    defparam count_47__i13.REGSET = "RESET";
    defparam count_47__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i12 (.D(n77[12]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[12] ));
    defparam count_47__i12.REGSET = "RESET";
    defparam count_47__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i11 (.D(n77[11]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[11] ));
    defparam count_47__i11.REGSET = "RESET";
    defparam count_47__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i10 (.D(n77[10]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[10] ));
    defparam count_47__i10.REGSET = "RESET";
    defparam count_47__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i9 (.D(n77[9]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[9] ));
    defparam count_47__i9.REGSET = "RESET";
    defparam count_47__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i8 (.D(n77[8]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[8] ));
    defparam count_47__i8.REGSET = "RESET";
    defparam count_47__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i7 (.D(n77[7]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[7] ));
    defparam count_47__i7.REGSET = "RESET";
    defparam count_47__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i6 (.D(n77[6]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[6] ));
    defparam count_47__i6.REGSET = "RESET";
    defparam count_47__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i5 (.D(n77[5]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(count[5]));
    defparam count_47__i5.REGSET = "RESET";
    defparam count_47__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i4 (.D(n77[4]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[4] ));
    defparam count_47__i4.REGSET = "RESET";
    defparam count_47__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i3 (.D(n77[3]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(count[3]));
    defparam count_47__i3.REGSET = "RESET";
    defparam count_47__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i2 (.D(n77[2]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[2] ));
    defparam count_47__i2.REGSET = "RESET";
    defparam count_47__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i1 (.D(n77[1]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[1] ));
    defparam count_47__i1.REGSET = "RESET";
    defparam count_47__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i0 (.D(n77[0]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[0] ));
    defparam count_47__i0.REGSET = "RESET";
    defparam count_47__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C (D))))" *) LUT4 i519_4_lut (.A(\count[2] ), 
            .B(\count[15] ), .C(\count[9] ), .D(\count[6] ), .Z(n610));
    defparam i519_4_lut.INIT = "0x8000";
    FA2 count_47_add_4_19 (.A0(GND_net), .B0(GND_net), .C0(\count[17] ), 
        .D0(n418), .CI0(n418), .A1(GND_net), .B1(GND_net), .C1(\count[18] ), 
        .D1(n906), .CI1(n906), .CO0(n906), .CO1(n420), .S0(n77[17]), 
        .S1(n77[18]));
    defparam count_47_add_4_19.INIT0 = "0xc33c";
    defparam count_47_add_4_19.INIT1 = "0xc33c";
    FA2 count_47_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(count[5]), .D0(n406), 
        .CI0(n406), .A1(GND_net), .B1(GND_net), .C1(\count[6] ), .D1(n888), 
        .CI1(n888), .CO0(n888), .CO1(n408), .S0(n77[5]), .S1(n77[6]));
    defparam count_47_add_4_7.INIT0 = "0xc33c";
    defparam count_47_add_4_7.INIT1 = "0xc33c";
    FA2 count_47_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(\count[11] ), 
        .D0(n412), .CI0(n412), .A1(GND_net), .B1(GND_net), .C1(\count[12] ), 
        .D1(n897), .CI1(n897), .CO0(n897), .CO1(n414), .S0(n77[11]), 
        .S1(n77[12]));
    defparam count_47_add_4_13.INIT0 = "0xc33c";
    defparam count_47_add_4_13.INIT1 = "0xc33c";
    FA2 count_47_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(count[3]), .D0(n404), 
        .CI0(n404), .A1(GND_net), .B1(GND_net), .C1(\count[4] ), .D1(n885), 
        .CI1(n885), .CO0(n885), .CO1(n406), .S0(n77[3]), .S1(n77[4]));
    defparam count_47_add_4_5.INIT0 = "0xc33c";
    defparam count_47_add_4_5.INIT1 = "0xc33c";
    VLO i1 (.Z(GND_net));
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47__i23 (.D(n77[23]), .SP(VCC_net), 
            .CK(clk), .SR(n194), .Q(\count[23] ));
    defparam count_47__i23.REGSET = "RESET";
    defparam count_47__i23.SRMODE = "CE_OVER_LSR";
    
endmodule
